<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homebase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="nav-arrow nav-arrow-left" onclick="flashNavArrow(this); goToPreviousPanel()"></div>
    <div class="nav-arrow nav-arrow-right" onclick="flashNavArrow(this); goToNextPanel()"></div>

    <div class="panels" id="panels">
        {% include "panels/pi.html" %}
        {% include "panels/home.html" %}
        {% include "panels/events.html" %}
    </div>

    {% include "modals/add_event.html" %}

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pi.js') }}"></script>
    <script src="{{ url_for('static', filename='js/events.js') }}"></script>
    <script src="{{ url_for('static', filename='js/news.js') }}"></script>
    <script src="{{ url_for('static', filename='js/panel_events.js') }}"></script>
</body>
</html>